<% meta_description @profile.bio %>

<div>
  <div class="pull-right col-md-4">
  
    <%= image_tag(@profile.image.url(:square) || "embedtree-logo-green.png") %>

    <section class="profile-data">

    <br/>

      <p>
      <% if @twitter != nil %>
          <a href="https://twitter.com/<%= @twitter.user_name %>" class="twitter-follow-button" data-show-count="false" data-size="large">Follow <%= @twitter.user_name %></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      
      <%#= link_to "@#{@twitter.user_name}", "#{@twitter.uri}" %>
      <% end %>
      </p>
      <p>
        <%= link_to @profile.website, @profile.website, :target => "_blank" %>
      </p>
      <p>
        <%= @profile.location %>
      </p>
    </section>
    <br/> 
    <ul class="nav social_buttons clearfix">
        <li><%= tweet_button( :text => truncate("Checkout #{@profile.display_name}", lenght: 100 ), via: "embedtree", :count => "horizontal" ) %></li>
        <li><%= like_button(1440239169528450) %></li>
        <li><%= pinit_button %></li>
        <li><%= google_plus_button %></li>
    </ul>
    <br/>
    <% if @facebook != [] %>
     <div id="facebook">
      <div class="fb-like-box" data-href="https://www.facebook.com/<%= @facebook.first.fb_page_id %>" data-width="100%" data-colorscheme="dark" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
    </div>
    <% end %>

    <% @user ||= current_user %>
    <div class="stats">
      <h3><a href="<%= following_profile_path(@user.profile.slug  ) %>">
        <strong id="following" class="stat">
          <%= @user.followed_users.count %>
        following
        </strong>
      </a></h3>
      <hr/>
      <% @user.followed_users.limit(5).each do |user| %>
        <%= link_to image_tag(user.profile.image.url(:thumb), :class => "img-circle"), vanity_url_path(user.profile.slug) %>
      <% end %>

     <h3> <a href="<%= followers_profile_path(@user.profile.slug) %>">
        <strong id="followers" class="stat">
          <%= @user.followers.count %>
        followers
        </strong>
      </a>
      </h3>

       <hr/>
      <% @user.followers.limit(5).each do |user| %>
        <%= link_to image_tag(user.profile.image.url(:thumb), :class => "img-circle"), vanity_url_path(user.profile.slug) %>
      <% end %>
    </div>

      <div class="clearfix" >
        <div id="mpu" class="pull-left ads">
          <%= dfp_tag :MPU %>
        </div>
      </div>
  </div>

  <div class="col-md-8">

    <h1>
      <%= @profile.display_name %>

    <% if current_user %>
      <div id="follow_form" class="">
      <% if current_user.following?(@user) %>
        <%#= render 'unfollow' %>
        <%= form_for(current_user.relationships.find_by(followed_id: @user.id),
                   html: { method: :delete }) do |f| %>
        <%= f.submit "Unfollow", class: "btn" %>
      <% end %>
      <% else %>
        <%#= render 'follow' %>
        <%= form_for(current_user.relationships.build(followed_id: @user.id)) do |f| %>
        <div><%= f.hidden_field :followed_id %></div>
        <%= f.submit "Follow", class: "btn btn-primary" %>
      <% end %>
      <% end %>
      </div>
    <% end %>
    </h1>

    <section class= "panel panel-default">
      <p class="well"><%= @profile.bio %>
      <br/>
      <% if current_user && current_user.admin? || current_user === @profile.user %>
        <span class="pull-right">
        <%= link_to 'Edit', edit_profile_path(@profile) %>
        </span>
      <% end %>
      <br/>
      </p>  
    </section>

    <section>
    <% if @profile.user.leafs != [] %>

      <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active"><a href="#all" data-toggle="tab"><i class="glyphicon glyphicon-leaf" ></i>  All (<%= @profile.user.leafs.count %>)</a></li>
         <!--  <li class="disabled"><a href="#photos" data-toggle="tab"><i class="glyphicon glyphicon-camera" ></i>  Photos</a></li>
          <li class="disabled"><a href="#audio" data-toggle="tab"><i class="glyphicon glyphicon-music" ></i>  Audio</a></li>
          <li class="disabled"><a href="#text" data-toggle="tab"><i class="glyphicon glyphicon-pencil" ></i>  Text</a></li>
          <li class="disabled"><a href="#video" data-toggle="tab"><i class="glyphicon glyphicon-film" ></i>  Video</a></li> -->
          <li class=" pull-right"><a href="#tweets" data-toggle="tab"><i class="fa fa-twitter" ></i>  Tweets (10) </a></li>
          <li class=" pull-right"><a href="#favs" data-toggle="tab"><i class="glyphicon glyphicon-heart" ></i>  Favourites (<%= @profile.user.favourites.count %>)</a></li>
          <li class=" pull-right"><a href="#inbox" data-toggle="tab"><i class="glyphicon glyphicon-envelope" ></i>  Messages (<%= @conversations.count %>)</a></li>
      </ul>

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="all">
        <ul>
          <% @leafs.order("created_at DESC").each do |leaf| %>
            <li class="clearfix well">
              <span class="col-md-2 pull-left">
                  <%= link_to image_tag(leaf.image.url(:small), class: "img-rounded"), vanity_leaf_url_path(:user_id => leaf.user.profile.slug, :id => leaf.slug) %>
              </span>
              <span class="col-md-6 pull-left">
                <h4>
                  <%= link_to leaf.title, vanity_leaf_url_path(:user_id => leaf.user.profile.slug, :id => leaf.slug) %>
                  <small>
                  <br/>
                   on <%= leaf.created_at.to_formatted_s(:short)  %>
                  <span class="tags">
                  <% leaf.tags.each do |tag| %>
                    <%= link_to "##{tag}", tagged_posts_path(tag.name), :class => "badge" %>&nbsp;
                  <% end %>
                </span>
                   </small>
                </h4>
                <p class="">
                <%= truncate(leaf.copy, :length => 50) %>
                </p>
              </span>
              <span class="col-md-2 pull-right">
                <span class="label label-primary " >
                <% if leaf.type == "audio" %> 
                  <i class="glyphicon glyphicon-music"></i>
                   &nbsp;<%= leaf.type %>
                 <% end %>
                 <% if leaf.type == "video" %> 
                  <i class="glyphicon glyphicon-film"></i>
                   &nbsp;<%= leaf.type %>
                 <% end %>
                 <% if leaf.type == "photo" %> 
                  <i class="glyphicon glyphicon-camera"></i>
                   &nbsp;<%= leaf.type %>
                 <% end %>
                 <% if leaf.type == "text" %> 
                  <i class="glyphicon glyphicon-pencil"></i>
                   &nbsp;<%= leaf.type %>
                 <% end %>
                 <% if leaf.type == "link" %> 
                  <i class="glyphicon glyphicon-link"></i>
                   &nbsp;<%= leaf.type %>
                 <% end %>
                </span>
                <span class="label label-default"><i class="glyphicon glyphicon-white glyphicon-eye-open"></i>&nbsp; <%= pluralize(leaf.views, ' view') %></span>
                <span class="label label-default"><i class="glyphicon glyphicon-white glyphicon-heart"></i>&nbsp; <%= pluralize(leaf.favourited_by.count, ' favourite') %></span>
                <span class="label label-default"><i class="glyphicon glyphicon-white glyphicon-hand-up"></i>
                 <%= pluralize(leaf.clicks.count, ' click') %></span>
                &nbsp;

              </span>
            </li>
          <% end %>  
        </ul>
        <%= paginate @leafs, param_name: :all, :pagination_class => "pagination-large"  %>
      </div>
      <div class="tab-pane fade" id="inbox">
        <%= render 'messages' %>
      </div>
      <div class="tweets tab-pane fade" id="tweets">
        <ul>
          <% @client.user_timeline(@profile.twitter_handle, :count => 10).each do |tweet| %>
            <li class="clearfix well">
              <%= auto_link(tweet.text) %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="tab-pane fade" id="favs">
          <ul>
            <% @profile.user.favourites.each do |leaf| %>
              <li class="clearfix well">
                <span class="col-md-2 pull-left">
                    <%= link_to image_tag(leaf.image.url(:small), class: "img-rounded"), vanity_leaf_url_path(:user_id => leaf.user.profile.slug, :id => leaf.slug) %>
                </span>
                <span class="col-md-6 pull-left">
                  <h4>
                    <%= link_to leaf.title, vanity_leaf_url_path(:user_id => leaf.user.profile.slug, :id => leaf.slug) %>
                    <small>via <%= link_to leaf.user.profile.display_name, vanity_url_path(leaf.user.profile.slug) %><br/>
                     on <%= leaf.created_at.to_formatted_s(:short)  %></small>
                  </h4>
                  <p class="">
                  <%= truncate(leaf.copy, :length => 50) %>
                  </p>
                </span>
                <span class="col-md-2 pull-right">
                  <span class="label label-primary " >
                <% if leaf.type == "audio" %> 
                  <i class="glyphicon glyphicon-music"></i>
                   &nbsp;<%= leaf.type %>
                 <% end %>
                 <% if leaf.type == "video" %> 
                  <i class="glyphicon glyphicon-film"></i>
                   &nbsp;<%= leaf.type %>
                 <% end %>
                 <% if leaf.type == "photo" %> 
                  <i class="glyphicon glyphicon-camera"></i>
                   &nbsp;<%= leaf.type %>
                 <% end %>
                 <% if leaf.type == "text" %> 
                  <i class="glyphicon glyphicon-pencil"></i>
                   &nbsp;<%= leaf.type %>
                 <% end %>
                 <% if leaf.type == "link" %> 
                  <i class="glyphicon glyphicon-link"></i>
                   &nbsp;<%= leaf.type %>
                 <% end %>
                </span>
                <span class="label label-default"><i class="glyphicon glyphicon-white glyphicon-eye-open"></i>&nbsp; <%= pluralize(leaf.views, ' view') %></span>
                <span class="label label-default"><i class="glyphicon glyphicon-white glyphicon-heart"></i>&nbsp; <%= pluralize(leaf.favourited_by.count, ' favourite') %></span>
                <span class="label label-default"><i class="glyphicon glyphicon-white glyphicon-hand-up"></i>
                 <%= pluralize(leaf.clicks.count, ' click') %></span>
                &nbsp;
                </span>
              </li>
            <% end %>  
          </ul>
        </div>
      </div>

      <% else %>
          Nothing growing on here yet...
      <% end %>
    </section>

  </div>
</div>