<%= simple_form_for(@leaf) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :copy, as: :text, :input_html => { class: 'test', :cols => 80, :rows => 12 }  %>
    <%= f.input :url %>
    <%= f.input :image %>
    <%= f.input :via_url, as: :hidden %>
    <%= f.input :plays, as: :hidden%>
    <%= f.input :views, as: :hidden %>
    <%= f.input :user_id, as: :hidden %>
  </div>
  </br/>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tag_list, :placeholder => "tag1, tag2, tag3 etc." %>
  </div>
  <% if current_user.admin? %>
    <hr/>
    <%= f.input :type %>
    <%= f.input :live %>
    <%= f.input :featured %>
  <% end %>
  <br/>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<br/>