<%= simple_form_for(@leaf) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :title %>
    <%= f.hidden_field :copy  %>
    <%= f.input :url, :input_html => {:style=> 'width: 500px'}, :placeholder => "http://..." %>
    <%= f.label "Enter a link to your content here." %>
    <%= f.hidden_field :image %>
    <%= f.hidden_field :via_url, :value => true %>
    <%= f.hidden_field :live, :value => true %>
    <%= f.hidden_field :plays, :value => 0 %>
    <%= f.hidden_field :views, :value => 0 %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :type %>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>