<h1>EmbedTree</h1>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
<li class="active"><a href="#all" data-toggle="tab"><i class="glyphicon glyphicon-picture" ></i>  All</a></li>
  <li class=""><a href="#photos" data-toggle="tab"><i class="glyphicon glyphicon-camera" ></i>  Photos</a></li>
  <li class=""><a href="#audio" data-toggle="tab"><i class="glyphicon glyphicon-music" ></i>  Audio</a></li>
  <li class=""><a href="#text" data-toggle="tab"><i class="glyphicon glyphicon-pencil" ></i>  Text</a></li>
  <li class=""><a href="#video" data-toggle="tab"><i class="glyphicon glyphicon-film" ></i>  Video</a></li>
  
</ul>


<article class="row">
  <div class="col-md-8">


  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="all">
      <% @leafs.each do |leaf| %>
        <section class="clearfix well">
          <section class="col-md-2 pull-left">
              <%= link_to image_tag(leaf.image.url(:small), class: "img-rounded"), vanity_leaf_url_path(:user_id => leaf.user.name, :id => leaf.slug) %>
          </section> 
          <section class="col-md-6 pull-left">
            <h4>
              <%= link_to leaf.title, vanity_leaf_url_path(:user_id => leaf.user.name, :id => leaf.slug) %>
              <small>by <%= link_to leaf.user.profile.display_name, vanity_url_path(leaf.user.name) %>
              <br/>
               on <%= leaf.created_at.to_formatted_s(:short)  %>
               <span class="tags">
                <% leaf.tags.each do |tag| %>
                  <%= link_to "##{tag}", tagged_posts_path(tag.name), :class => "badge" %>&nbsp;
                <% end %>
              </span>

               </small>
            </h4>
            <p class="">
            <%= truncate(leaf.copy, length: 50) %>
            </p>
          </section>
          <section class="col-md-3 pull-right">
            <p>
            <span class="label label-primary" >
            <% if leaf.type == "audio" %> 
              <i class="glyphicon glyphicon-music"></i>
               &nbsp;<%= leaf.type %>
             <% end %>
             <% if leaf.type == "video" %> 
              <i class="glyphicon glyphicon-film"></i>
               &nbsp;<%= leaf.type %>
             <% end %>
             <% if leaf.type == "photo" %> 
              <i class="glyphicon glyphicon-camera"></i>
               &nbsp;<%= leaf.type %>
             <% end %>
             <% if leaf.type == "text" %> 
              <i class="glyphicon glyphicon-pencil"></i>
               &nbsp;<%= leaf.type %>
             <% end %>
            </span>
            &nbsp;
            <span class="label label-default"><i class="glyphicon glyphicon-white glyphicon-eye-open"></i>&nbsp; <%= pluralize(leaf.views, ' view') %></span>
            <span class="label label-default"><i class="glyphicon glyphicon-white glyphicon-heart"></i>&nbsp; <%= pluralize(leaf.favourited_by.count, ' favourite') %></span>
            </p>

              <p>
               <% if leaf.live == false %>
                  <span class="label label-danger"><i class="glyphicon glyphicon-white glyphicon-flag"></i>&nbsp; Not Live!</span>
                <% end %>
              </p>

            </section>
        </section>
      <% end %>
      </div>
       <div class="tab-pane fade" id="photos">
        <%= render 'photos' %>
      </div>
      <div class="tab-pane fade" id="text">
        <%= render 'texts' %>
      </div>
      <div class="tab-pane fade" id="video">
        <%= render 'videos' %>
      </div>
      <div class="tab-pane fade" id="audio">
          <%= render 'audios' %>
      </div>
      
    </div>  
  </div>
  <div class="col-md-4">
    

  </div>

</article>
