<% meta_keywords "EmbedTree, Media, Embedm, Video, Photos, Audio, Links" %>
<% meta_description "EmbedTree is a simple service for sharing online." %>

<div id="leaderboard" class="pull-right ads">
      <%= dfp_tag :leaderboard %>
      <br/>
</div>
<%= image_tag 'embedtree-logo.png', :width => "100", :class => "pull-left" %>
<h1>
  EmbedTree<sup> &beta;eta</sup>
  <br/>
  <small>#IncreasingSerendipity</small>
</h1>
<hr/>



<article class="row">
  <div class="col-md-8">
    <ul class="nav nav-tabs" style="margin-bottom: 15px;" id="my_tabs">
      <li class="active"><a href="#all" data-toggle="tab"><i class="glyphicon glyphicon-arrow-up" ></i>  Trending</a></li>
      <li class="pull-right"><a href="#new" data-toggle="tab"><i class="glyphicon glyphicon-leaf" ></i>  New</a></li>
      <!-- <li class=""><a href="#photos" data-toggle="tab"><i class="glyphicon glyphicon-camera" ></i>  Photos</a></li>
      <li class=""><a href="#audios" data-toggle="tab"><i class="glyphicon glyphicon-music" ></i>  Audio</a></li>
      <li class=""><a href="#texts" data-toggle="tab"><i class="glyphicon glyphicon-pencil" ></i>  Text</a></li>
      <li class=""><a href="#videos" data-toggle="tab"><i class="glyphicon glyphicon-film" ></i>  Videos</a></li>
      <li class=""><a href="#links" data-toggle="tab"><i class="glyphicon glyphicon-link    " ></i>  Links</a></li> -->
      
    </ul>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="all">
      <% @leafs.each do |leaf| %>
        <section class="clearfix well">
          <section class="col-md-2 pull-left">
              <%= link_to image_tag(leaf.image.url(:small), class: "img-rounded"), vanity_leaf_url_path(:user_id => leaf.user.profile.slug.downcase, :id => leaf.slug) %>
          </section> 
          <section class="col-md-7 pull-left">
            <h4>
              <%= link_to leaf.title, vanity_leaf_url_path(:user_id => leaf.user.profile.slug, :id => leaf.slug) %>
              <small>via <%= link_to leaf.user.profile.display_name, vanity_url_path(leaf.user.profile.slug) %>
              <br/>
               on <%= leaf.created_at.to_formatted_s(:short)  %>
               <span class="tags">
                <% leaf.tags.each do |tag| %>
                  <%= link_to "##{tag}", tagged_posts_path(tag.name), :class => "badge" %>&nbsp;
                <% end %>
              </span>

               </small>
            </h4>
            <p class="">
            <%= truncate(leaf.copy, length: 50) %>
            </p>
          </section>
          <section class="col-md-2 pull-right">
            <p>
            <span class="label label-primary" >
            <% if leaf.type == "audio" %> 
              <i class="glyphicon glyphicon-music"></i>
               &nbsp;<%= link_to leaf.type, media_path(leaf.type) %>
             <% end %>
             <% if leaf.type == "video" %> 
              <i class="glyphicon glyphicon-film"></i>
               &nbsp;<%= link_to leaf.type, media_path(leaf.type) %>
             <% end %>
             <% if leaf.type == "photo" %> 
              <i class="glyphicon glyphicon-camera"></i>
               &nbsp;<%= link_to leaf.type, media_path(leaf.type) %>
             <% end %>
             <% if leaf.type == "text" %> 
              <i class="glyphicon glyphicon-pencil"></i>
               &nbsp;<%= link_to leaf.type, media_path(leaf.type) %>
             <% end %>
             <% if leaf.type == "link" %> 
              <i class="glyphicon glyphicon-link"></i>
               &nbsp;<%= link_to leaf.type, media_path(leaf.type) %>
             <% end %>
            </span>
            &nbsp;
            <span class="label label-default"><i class="glyphicon glyphicon-white glyphicon-eye-open"></i>&nbsp; <%= pluralize(leaf.views, ' view') %></span>
            <span class="label label-default"><i class="glyphicon glyphicon-white glyphicon-heart"></i>&nbsp; <%= pluralize(leaf.favourited_by.count, ' favourite') %></span>
            <span class="label label-default"><i class="glyphicon glyphicon-white glyphicon-hand-up"></i>
           <%= pluralize(leaf.clicks.count, ' click') %></span>
            </p>

              <p>
               <% if leaf.live == false %>
                  <span class="label label-danger"><i class="glyphicon glyphicon-white glyphicon-flag"></i>&nbsp; Not Live!</span>
                <% end %>
              </p>

            </section>
        </section>
      <% end %>
      <%= paginate @leafs, param_name: :all, :pagination_class => "pagination-large"  %>
      </div>
      <div class="tab-pane fade" id="new">
        <%= render 'new_leafs' %>
        <%= paginate @new_leafs, param_name: :new_leafs, :pagination_class => "pagination-large"  %>
      </div>
       <div class="tab-pane fade" id="photos">
        <%= render 'photos' %>
        <%= paginate @photos, param_name: :photos, :pagination_class => "pagination-large"  %>
      </div>
      <div class="tab-pane fade" id="texts">
        <%= render 'texts' %>
        <%= paginate @texts, param_name: :texts, :pagination_class => "pagination-large"  %>
      </div>
      <div class="tab-pane fade" id="videos">
        <%= render 'videos' %>
        <%= paginate @videos, param_name: :videos, :pagination_class => "pagination-large"  %>
      </div>
      <div class="tab-pane fade" id="audios">
          <%= render 'audios' %>
          <%= paginate @audios, param_name: :audios, :pagination_class => "pagination-large"  %>
      </div>
      <div class="tab-pane fade" id="links">
          <%= render 'links' %>
          <%= paginate @links, param_name: :links, :pagination_class => "pagination-large"  %>
      </div>
      
    </div>  
  </div>
  <div class="col-md-4">
   <% if @featured.length > 0 %>
    <div class="panel panel-success">
       <div class="panel-heading">
        <h3><%= link_to "Featured", "/featured", :style => "color:white;" %></h3>
       </div>
       <div class="panel-body">
        <% @featured.each do |leaf| %>
          <h4>
            <%= link_to truncate(leaf.title, length: 25), vanity_leaf_url_path(:user_id => leaf.user.profile.slug, :id => leaf.slug) %>
            <small><br/>via <%= link_to leaf.user.profile.display_name, vanity_url_path(leaf.user.profile.slug) %></small>
          </h4>
        <% end %>
        </div>
    </div>
   <% end %>
    <div id="facebook" class="pull-center text-center">
      <div class="fb-like-box" data-href="https://www.facebook.com/embedtree" data-width="100%" data-colorscheme="dark" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
      <br/><br/>
    </div>
    <div id="mpu" class="ads">
      <%= dfp_tag :MPU %>
    </div>
    <div class="tag_cloud">
    <div class="panel panel-success">
       <div class="panel-heading">
       <h3>Tag Tree</h3>
       </div>
       <div class="well">
        <% tag_cloud(@tags.limit(20), %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <%= link_to "<i class='glyphicon glyphicon-tag'></i> ##{tag.name}".html_safe, { :action => :tag, :id => tag.name }, :class => "#{css_class} label label-default" %>
          <% end %>
        </div>
    </div>
    </div>
  </div>
  <br/>
</article>


