<% meta_keywords @leaf.tag_list %>
<% meta_description @leaf.copy %>

<% content_for :head do %>
  <%= render 'twitter_meta' %>
<% end %>

<div class="clearfix row">

  <div class="col-md-8">
      <div id="leaderboard" class="pull-left ads">
        <%= dfp_tag :leaderboard %>

      </div>
       <h1>
          <%= link_to @leaf.title, @leaf.url, :target => "_blank", :class => "click" %><br/>
        <small>via <%= link_to @leaf.user.profile.display_name, vanity_url_path(@leaf.user.profile) %>
        <% if @leaf.featured == true %>
        <a href="<%= featured_path %>" ><span class="label label-success pull-right"><i class="glyphicon glyphicon-star"></i> Featured</span></a>
        <% end %>
        </small>
        </h1>

      <% if @leaf.via_url && @leaf.embed_code != nil %>
        <div class="flex-video">
          <%= @leaf.embed_code.html_safe %>
        </div>
      <% else %>
        <% if @leaf.type === 'photo' %>
        <p> 
          <%= image_tag(@leaf.image.url(:photo), :class => "img-rounded img-thumbnail") %>
        </p>
        <% end %>

        <% if @leaf.type === 'audio' %>
          <audio controls>
            <source src="<%= @leaf.audio %>" type="audio/mp3">
          Your browser does not support the audio element.
          </audio>
        <% end %>

        <% if @leaf.type === 'video' %>
          <video width="320" height="240" controls poster="<%= @leaf.image.url %>">
            <source src="<%= @leaf.video %>" type="video/mp4">
          </video>
        <% end %>

      <% end %>

    <section class="panel panel-default">
    <p class="well">
      <%= auto_link(@leaf.copy) %>
    </p>
    </section>

    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
      <li class="active"><a href="#comments" data-toggle="tab">Comments</a></li>
      <li><a href="#tweets" data-toggle="tab">Tweets (<%= @results.count %>)</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade  in" id="tweets">
          <ul>
            <% @results.first(10).each do |tweet| %>
              <li class="clearfix well">
                  <a href="http://twitter.com/<%= tweet.user.screen_name %>" target="_blank" >@<%= tweet.user.screen_name %></a> - 
                  <%= auto_link(tweet.text) %>
              </li>
            <% end %>
          </ul>
      </div>
      <div class="tab-pane fade active in" id="comments">
        <%= render :partial => 'comments' %>
      </div>
    </div>

        
  </div>
  <div class="col-md-4 pull-right" id="sidebar">

    <p>
      <%# if @leaf.via_url %>
        <%#= link_to image_tag(@leaf.thumbnail_url, :style => "max-width: 300px;" ), @leaf.url, :target => "_blank", :class => "click"  %>
      <%# else %>
          <%= link_to image_tag(@leaf.image.url(:square)), @leaf.url, :target => "_blank", :class => "click"  %>
      <%# end %>
    </p>
     <%= link_to raw( " #{truncate(@leaf.url, :length => 40)} <i class='glyphicon glyphicon-share'></i>"), @leaf.url, :target => "_blank", :class => "click"  %> 
    <br/>
    <br/>
    <div class="well">
    <ul class="nav social_buttons clearfix ">
        <li><%= tweet_button( url: "http://embedtree.com/leafs/#{@leaf.id}", :text => truncate(@leaf.title, length: 120 ), via: "embedtree", :count => "horizontal" ) %></li>
        <li><%= like_button(1440239169528450, url: "http://embedtree.com/leafs/#{@leaf.id}") %></li>
        <li><%= pinit_button %></li>
        <li><%= google_plus_button %></li>
    </ul>
    </div>
    <% if current_user %>
      <% if UserFav.where(:user_id => current_user.id, :leaf_id => @leaf.id).exists? %>
          <%= link_to raw("<i class='glyphicon glyphicon-heart-empty'></i>  Un-Favourite"), delete_user_favs_path(:user_fav => {:leaf_id => @leaf.id,:user_id => current_user.id}), :remote => true, class: "btn fav btn-default", :method => :delete %>
      <% else %>
        <%= link_to raw("<i class='glyphicon glyphicon-heart'></i>  Favourite"), user_favs_path(:user_fav => {:leaf_id => @leaf.id,:user_id => current_user.id}), :remote => true, class: "btn fav btn-default", :method => :post %>
      <% end %>
     <% end %> 
     <br/>
     <br/>
     <p class="well">
        <%= render 'sidebar', leaf: @leaf %>
     </p>

  </div>
</div>

<% if current_user %>
<div id="leaf_id" class="hidden"><%= @leaf.id %></div>
<div id="user_id" class="hidden"><%= current_user.id %></div>
<% end %> 

