

<div class="clearfix row">

  <div class="col-md-8">
      <h1>
        <%= link_to @leaf.title, "http://#{@leaf.url}", :target => "_blank", :class => "click" %>
        <small>by <%= link_to @leaf.user.profile.display_name, vanity_url_path(@leaf.user.profile) %></small>
      </h1>
      <% if @leaf.type === 'photo' %>
      <p> 
        <%= image_tag(@leaf.image.url(:photo), :class => "img-rounded img-thumbnail") %>
      </p>
      <% end %>

      <% if @leaf.type === 'audio' %>
        <audio controls>
          <source src="<%= @leaf.audio %>" type="audio/mp3">
        Your browser does not support the audio element.
        </audio>
      <% end %>

      <% if @leaf.type === 'video' %>
        <video width="320" height="240" controls poster="<%= @leaf.image.url %>">
          <source src="<%= @leaf.video %>" type="video/mp4">
        </video>
      <% end %>

    <section class="panel panel-default">
    <p class="well">
      <%= @leaf.copy %>
    </p>
    </section>
        
  </div>
  <div class="col-md-4" id="sidebar">
      <p>
        <%= link_to image_tag(@leaf.image.url(:square)), "http://#{@leaf.url}", :target => "_blank", :class => "click"  %>
      </p>

      <% if UserFav.where(:user_id => current_user.id, :leaf_id => @leaf.id).exists? %>
          <%= link_to raw("<i class='glyphicon glyphicon-heart-empty'></i>  Un-Favourite"), delete_user_favs_path(:user_fav => {:leaf_id => @leaf.id,:user_id => current_user.id}), :remote => true, class: "btn btn-default", :method => :delete %>
      <% else %>
        <%= link_to raw("<i class='glyphicon glyphicon-heart'></i>  Favourite"), user_favs_path(:user_fav => {:leaf_id => @leaf.id,:user_id => current_user.id}), :remote => true, class: "btn btn-default", :method => :post %>
      <% end %>
       <p>
          <%= render 'sidebar', leaf: @leaf %>
       </p>
  </div>
</div>

<div id="leaf_id" class="hidden"><%= @leaf.id %></div>
<div id="user_id" class="hidden"><%= current_user.id %></div>


