<h1>EmbedTree Goodies</h1>
<hr/>
<div class="well" >
A collection of badges and buttons for your website or blog to help people discover your content on EmbedTree. Simple copy and paste the code below the image into your site.
</div>

<ul>
	<li>
		<a href="/<%= current_user.name %>">
		<%= image_tag("http://res.cloudinary.com/familio/image/upload/h_30,w_30/g8hycuemqtffs0vwjlp5.jpg") %></a>
		<br/><br/>
		<input value="<a href='http://www.embedtree.com/<%= current_user.name %>'><img src='http://res.cloudinary.com/familio/image/upload/h_30,w_30/g8hycuemqtffs0vwjlp5.jp'></a>" size="100">
	</li>
	<hr/>
	<li>
		<a href="/<%= current_user.name %>">
		<%= image_tag("http://res.cloudinary.com/familio/image/upload/h_150,w_150/g8hycuemqtffs0vwjlp5.jpg") %>
		</a>
		<br/><br/>
		<input value="<a href='http://www.embedtree.com/<%= current_user.name %>'><img src='http://res.cloudinary.com/familio/image/upload/h_150,w_150/g8hycuemqtffs0vwjlp5.jp'></a>" size="100">
	</li>
	<hr/>
	<li>
		<a href="/<%= current_user.name %>">
		<%= image_tag("http://res.cloudinary.com/familio/image/upload/h_300,w_300/g8hycuemqtffs0vwjlp5.jpg") %>
		</a>
		<br/><br/>
		<input value="<a href='http://www.embedtree.com/<%= current_user.name %>'><img src='http://res.cloudinary.com/familio/image/upload/h_300,w_300/g8hycuemqtffs0vwjlp5.jp'></a>" size="100">
	</li>


</ul>