<div class="clearfix">
	<h1>
	  <%= @photo.title %>
	  <small>
	  	by <%= link_to @photo.user.profile.display_name, vanity_url_path(@photo.user.name) %>
	  </small>
	</h1>
	<div class="col-md-8 pull-left">
		<p>
		  <%= image_tag @photo.image.url(:standard) %>
		</p>
	</div>
	<div class="col-md-4 pull-right">
		<p class="well">
		  <%= @photo.description %>
		  <br/>

		  <% if current_user && current_user.admin? || current_user === @photo.user %>
			  <span class="pull-right">
				  <%= link_to 'Edit', edit_photo_path(@photo) %> 
			  </span>
		  <% end %>
		  <br/>
		</p>
	</div>

</div>

