<%# add navigation links to this file %>
<li>
	<a href="<%= upload_path %>" ><i class="glyphicon glyphicon-cloud-upload"></i> Upload</a>
</li>
<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-plus"></i> More
			<b class="caret"></b></a>
			<ul class="dropdown-menu">
			<li>
				<a href="<%= page_path('about') %>" ><i class="glyphicon glyphicon-info-sign"></i> About</a>
				<%#= link_to 'About', page_path('about') %>
			</li>
			<li>
				<a href="<%= page_path('goodies') %>" ><i class="glyphicon glyphicon-gift"></i> Goodies</a>
				<%#= link_to 'About', page_path('about') %>
			</li>
			<li>
				<a href="<%= featured_path %>" ><i class="glyphicon glyphicon-star"></i> Featured</a>
				<%#= link_to 'Featured', featured_path %>
			</li>
			<li>
				<a href="<%= categories_path %>" ><i class="glyphicon glyphicon-th-large"></i> Categories</a>
				<%#= link_to 'Categories', categories_path %>
			</li>
			<li class="divider"></li>
			<li>
				<a href="<%= media_path('video') %>" ><i class="glyphicon glyphicon-film"></i> Video</a>
				<%#= link_to 'Categories', categories_path %>
			</li>
			<li>
				<a href="<%= media_path('audio') %>" ><i class="glyphicon glyphicon-music"></i> Audio</a>
				<%#= link_to 'Categories', categories_path %>
			</li>
			<li>
				<a href="<%= media_path('photo') %>" ><i class="glyphicon glyphicon-camera"></i> Photos</a>
				<%#= link_to 'Categories', categories_path %>
			</li>
			<li>
				<a href="<%= media_path('link') %>" ><i class="glyphicon glyphicon-link"></i> Links</a>
				<%#= link_to 'Categories', categories_path %>
			</li>
			</ul>
</li>

<% if user_signed_in? %>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag(current_user.profile.image.url(:thumb), :class => "img-circle", width: "22px") %> <%= current_user.profile.display_name %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li><%= link_to 'Profile', vanity_url_path(current_user.name) %></li>
          <li><%= link_to 'Apps', apps_path %></li>
          <li class="divider"></li>
		  <li><%= link_to 'Edit Profile', edit_profile_path(current_user.name) %></li>
		  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
		  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
  </ul>
<li>
<% else %>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Join
	<b class="caret"></b></a>
	<ul class="dropdown-menu">
		  <li><%= link_to 'Sign in', new_user_session_path %></li>
		  <li><%= link_to 'Sign up', new_user_registration_path %></li>
		  <li><%#= link_to 'Facebook', user_omniauth_authorize_path(:facebook) %></li>
  </ul>
</li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.admin? %>
	  	<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i> Admin
			<b class="caret"></b></a>
			<ul class="dropdown-menu">
		    <li><a href="<%= users_path %>"><i class="glyphicon glyphicon-user"></i> Users</a></li>
		    <li><a href="<%= admin_path %>"><i class="glyphicon glyphicon-lock"></i> Admin</a></li>
	    </ul>
	</li>
  <% end %>
<% end %>
